{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off"
  }
}
